/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
@import "right-nav-style.css";
@import "forMobiles.css";


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #7F9EC6;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
https://colorscheme.ru/#3j51H5b--v5Oo
https://colorscheme.ru/#3j51H00--nMTS
https://colorscheme.ru/#3J61Zag--k.G9
https://colorscheme.ru/#3D51S1T--k.G9
*/
body {
  border: #7F9EC6 1px solid;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
@media (min-width: 768px)  {
  *{
    font-family: "Open Sans";
    font-weight: 1;
  }

  body{
    background: #FFFFFF;
  }

  H1{
    font-size: xx-large;
  }
  #header h1{
    color: #7F9EC6; !important;
    font-weight: bold;
    background: #FFFFFF
  }

  #header h1:hover{
    font-weight: bold;
    animation: textAnimColor infinite 2s linear;
  }

  #header h5{
    font-size: medium;
  }

  @keyframes textAnimColor {
    0% {
      color: #7F9EC6;
    }
    50%{
      color: #000000;
    }
    100% {
      color: #7F9EC6;
    }
  }


  H1, H2, H3, H4, H5, H6{
    margin: 0;
    padding: 0;
    text-indent: 20px; /* Отступ первой строки в пикселах */
  }
  .textblock img{
    display: inline;
    alignment: center;
    width: 400px;
  }
  hr{
    color: black;
  }


  #header{
    height: 100px;
    padding: 2vh;
    background: #7F9EC6;
  }

  #logo{
    position: absolute;
    right: 2vw;
    top: 1vh;
    z-index: 2500;
    width: 100px;
    height: 100px;
  }

  a {
    text-decoration: none;
  }
  .contents a{
    text-decoration: none;
    color: black;
  }

  #logo:hover {
    animation: 1.2s ease-in-out 0s normal none infinite running shaking;
  }

  @keyframes shaking {
    0%, 50%, 100% {
      transform: rotate(0deg);
    }
    10%, 30% {
      transform: rotate(-10deg);
    }
    20%, 40% {
      transform: rotate(10deg);
    }
  }

  .textblock{
    float: left;
    text-align: justify;
    display: inline-block;
    margin: 1vh 50px 1vh 4vh;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid #7F9EC6;
    border-radius: 5px;
    background-color: #F1F7FF;
  }

  .textblock h2{
    margin-top: 8px;
  }

  .contents{
    float: left;
    text-align: justify;
    display: inline-block;
    margin: 1vh 50px 1vh 4vh;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid #7F9EC6;
    border-radius: 5px;
    background-color: #F1F7FF;
  }

  .contents li{
    transition: 0.5s ease-in-out;
  }
  .contents li:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.1, 1.1);
    font-weight: bold;
  }

  #contactsblock{
    position: absolute;
    right: 40px;
    top: 15px;
  }

  #contactsblock svg{
    display: block;
    margin: 3px;
    height: 50px;
    width: 50px;
  }

  #contactsblock svg:hover{
    animation: 1.2s ease-in-out 0s normal none infinite running shaking;
  }

  li {
    list-style-type: none; /* Убираем маркеры у списка */
  }
  li:before {
    content: "> "; /* Добавляем в качестве маркера символ */
  }
  .took{
    font-weight: bold;
    color: white;
  }
  #mobLabel{
    opacity: 0;
  }
  footer{
    display: inline-block;
    position: relative;
    height: 70px;
    margin-top: 50vh;
    background-color: #7F9EC6;
    width: 100vw;
    border-top: #40506b solid 1px;
  }
  .footerText{
    margin-left: 35px;
    margin-top: 15px;
    color: #40506b;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/*@media (min-width: 576px) {*/
/*  .textblock{*/
/*    text-align: justify;*/
/*    display: block;*/
/*    padding: 1vh 4vh;*/
/*    width: auto;*/
/*    font-size: large;*/
/*  }*/
/*  #logo:hover {*/
/*  animation: none;*/
/*  }*/
/*}*/



@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
